<html>

<style media="screen">

    .modal
    {
    top:70px!important;
    background-color: rgba(0,0,0,.10000) !important;
    overflow: scroll!important;
    padding: 0px!important;
    z-index: 99999999999999999999;
    }

.input-field label {
        color:#f44336!important;
    }

.fixme {  text-align: center; width: 100%; }
.bold { font-weight: bold; }

body {
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}

#header-fixed {
    position: fixed;
    top: 500px!important; display:none;
    background-color:white;
}
.mybox
{
    width:24%!important;height:auto;
    margin-top: 2%;
    margin-right:0.5%;
    margin-left: 0.5%;
}
.btn-flat
{
    border-radius: 20px!important;
}
</style>

<head>

    <% include partials/head %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Funkadaa</title>

</head>

<body>
    <% include partials/header %>
    <% include partials/profileheader %>





                <section>
                    <div class="container gal-container">
                        <% Myproducts.forEach( function(product,index) { %>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">

                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#<%=index %>">
                                    <img src='<%= product.ProductDp %>'>
                                </a>
                                <div class="modal modal-fullscreen fade" id="<%=index %>" tabindex="-1" role="dialog"
                                    style="overflow:visible!important;">
                                    <div class="modal-dialog" id="<%=index %>" role="document">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>

                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <img src='<%= product.ProductDp %>'>
                                                        </div>
                                                        <div class="col-md-6">
                                                            COMMENTS, LIKES, CHAWALS
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-12 description">
                                                            <h4>
                                                                <%= product.Description %>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <% }) %>

                    </div>
                </section>









    <div id="modal1" class="modal " style="overflow:auto;">
        <div class="modal-content white">
            <div>


                <form class="col s12 " enctype="multipart/form-data" method="post" action="/profile/upload">

                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="product_title" type="text" class="validate" name="product_title" size="50"
                                required>
                            <label><b>Product Title<b></label>
                        </div>
                    </div>

                    <label class="red-text">Product Image</label>

                    <div class="file-field input-field">
                        <div class="btn red">
                            <i class="material-icons center-align" style="font-size: 20px">add_a_photo
                                <input type="file" name="ProductDp" required>
                            </i>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                    <label class="red-text"> Product Category</label>
                    <br>
                    <p>
                        <label>
                            <input name="Category" type="radio" value="Painting" />
                            <span class="red-text">Painting</span>
                        </label>
                        <label>
                            <input name="Category" type="radio" value="Sketch" />
                            <span class="red-text">Sketch</span>
                        </label>
                        <label>
                            <input name="Category" type="radio" value="Handicraft" />
                            <span class="red-text">Handicraft</span>
                        </label>
                        <label>
                            <input name="Category" type="radio" value="Calligraphy" />
                            <span class="red-text">Calligraphy</span>
                        </label>
                    </p>




                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" name="Description" data-length="120"></textarea>
                            <label for="textarea1"><b>Product Description</b></label>
                        </div>
                    </div>
                    <label><b>For Sale</b></label>
                    <div class="switch">
                        <label>
                            No
                            <input type="checkbox" id="checkbox" name="ForSale">
                            <span class="lever"></span>
                            Yes
                        </label>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="quantity" name="Quantity" type="text" class="saleoption" style="color: #000!important;"
                                size="50" disabled="disabled" required>
                            <label><b>Product Quantity<b></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input value="" id="price" name="Price" type="text" style="color: #000!important;" type="text"
                                class=" saleoption validate" name="product_quantity" size="50" disabled="disabled"
                                required>
                            <label><b>Product Price<b></label>
                        </div>
                    </div>
                </form>
                <input type="submit" class="btn red right" name="insert_product" value="Insert">
                <br>

            </div>
        </div>

    </div>






    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {

            $('select').formSelect();
        });

        $(document).ready(function () {

            $('ul.tabs').tabs({
                //        swipeable: true,
                responsiveThreshold: 1920,
            });

        });

        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that   wants to be triggered
            $('.modal').modal();
            $('.modal-trigger').leanModal();

            //document.querySelector('.tabs-content.carousel').style.height = window.innerHeight + "px";
        });
        $(document).ready(function () {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
                // $(".tab").addClass("active"); // instead of this do the below 
                $(this).removeClass("btn-default").addClass("btn-primary");
            });
        });
        $('select').material_select();
        var fixmeTop = $('.fixme').offset().top;
        $(window).scroll(function () {
            var currentScroll = $(window).scrollTop();
            if (currentScroll >= fixmeTop - 270) {
                $('.fixme').css({
                    position: 'fixed',
                    top: '70px',
                    left: '0',

                });
            } else {
                $('.fixme').css({
                    position: 'static',

                });
            }
        });

        $('#checkbox').click(function () {
            $(".saleoption").toggleClass("bold");
            if ($(this).is(':checked')) {
                $('#price').removeAttr('disabled');
                $('#quantity').removeAttr('disabled');

            } else {
                $('#price').attr('disabled', 'disabled');
                $('#quantity').attr('disabled', 'disabled');

            }

        });
    </script>

</body>

</html>